* {
	margin: 0;
	padding: 0;
}

body {
	background: #005b9e;
}

@media screen and (min-width: 400px) {

}


@media screen and (min-width: 730px) {

}


/* start of full screen */
/* start of full screen */
/* start of full screen */
@media screen and (min-width: 930px) {
	.headbar {
		width: 100%; 
		height: 30px; 
		background: #004f89;
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	
	.barwrapper {
		width: 870px;
		margin: 0 auto;
		text-align: center;
	}	 

	.bar1, .bar2, .bar3 {
		color: white;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
		font-size: 10px;
		display: inline-block;
		margin: -2px 11px 0 11px;
		font-weight: 100;
		letter-spacing: .5px;
	}

	img {
		height: 21px;
		position: relative;
		bottom: -6px;
	}



}


